*.obj
*.idb
*.pdb
*.res
[Bb]in
obj/
*.suo
*.user
*.dep
*.ncb
*.sln.cache
BuildLog.htm
*.manifest
*.InstallLog
*.InstallState
*.ncrunchproject
*.ncrunchsolution
_NCrunch*
*.swp
*.d
*.o
*.csmes
*.ilk
*.testsettings
Debug
Release
*.ipch
*.sdf